<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Transcoder</title>
	</head>
	<body>
		<table>
			<tr>
				<th>Resolution</th>
				<th>Bitrate</th>
				<th>Approx. File size of 10 min video</th>
			</tr>
			<tr>
				<td>320p (mobile)</td><td>180 kbit/sec</td><td>~13MB</td>
			</tr>
			<tr>
				<td>360p</td><td>300 kbit/sec</td><td>~22MB</td>
			</tr>
			<tr>
				<td>480p</td><td>500 kbit/sec</td><td>~37MB</td>
			</tr>
			<tr>
				<td>576p(PAL)</td><td>850 kbit/sec</td><td>~63MB</td>
			</tr>
			<tr>
				<td>720p</td><td>1000 kbit/sec</td><td>~75MB</td>
			</tr>
		</table>

		<form enctype="multipart/form-data" action="#" method="POST">
		 <div>
		    <input type="file" name="input" multiple="multiple"/>
		    <select name="type">
			  <option value="320p">320p</option>
			  <option value="360p">360p</option>
			  <option value="480p">480p</option>
			  <option value="576p">576p</option>
			  <option value="720p">720p</option>
			</select>
		</div>
		<div>
		    <input type="submit" value="Transcode" />
		</div>
		</form>
	</body>
</html>